# Variables

Vairables can be considered containers. You can put anything inside a container, without specifying the size or type, which will be needed in Java or C. Note that Python is case-sensitive. Be careful about using letters in different cases.

When assigning values, we put the variable to be assigned to on the left hand side (LHS), while the value to plug in on the RHS. LHS and RHS are connected by an equal sign (=), meaning assignment.

In [3]:
x = 3 # integer
y = 3. # floating point number
z = "Hello!" # strings
Z = "Wonderful!" # another string, stored in a variable big z.
print(x)
print(y)
print(z)
print(Z)

3
3.0
Hello!
Wonderful!

In [4]:
sum_ = x + y # int + float = float
print(sum_)

6.0

In [5]:
v = "World!"
sum_string = z + " " + v # concatenate strings
print(sum_string)

Hello! World!

In [7]:
print("The sum of x and y is",sum_ , "this is owasp")

The sum of x and y is 6.0 this is owasp

Some notes on Strings

To initialize a string variable, you can use either double or single quotes.

In [17]:
store_name = "HyeVe"

In [12]:
name_13 = store_name[1:3] # [start, end), end is exclusive; Python starts with 0 NOT 1
print(name_13)

yV

In [16]:
print(store_name)

HyVee

In [18]:
last_letter = store_name[-2] # -1 means the last element
print(last_letter)

V

## Simple Data Structures

In this section, we go over some common primitive data types in Python. While the word primitive looks obscure, we can think of it as the most basic data type that cannot be further decomposed into simpler ones.

I categorize them into several subsections based on the values they represent.
# Numbers

For numbers w/o fractional parts, we say they are integer. In Python, they are called int

In [8]:
x = 3
type(x)

int

In [9]:
y = 3.0
type(y)

float

We can apply arithmetic to these numbers. However, one thing we need to be careful about is type conversion. See the example below.

In [10]:
z = 2 * x
type(z)

int

In [11]:
z = y + x
type(z)

float

# Text/Characters/Strings

In Python, we use str type for storing letters, words, and any other characters, as mentioned previously

In [21]:
my_word = "see you"
type(my_word)

str

Unlike numbers, str is an iterable object, meaning that we can iterate through each individual character:

In [13]:
my_word[0], my_word[2:6]

('s', 'e yo')

In [14]:
my_word + ' tomorrow'

'see you tomorrow'

# Boolean

Boolean type comes in handy when we need to check conditions. For example:

In [23]:
my_error = 1.6
compare_result = my_error < 0.1
compare_result, type(compare_result)

(False, bool)

In [24]:
my_error < 0.1

False

There are two and only two valid Boolean values: True and False. We can also think of them as 1 and 0, respectively.

In [16]:
my_error > 0

True

When we use Boolean values for arithmetic operations, they will become 1/0 automatically

In [17]:
(my_error>0) + 2

3

# In built data structures in Python 

## List

Initialize a list with square brackets. You can store anything in a list, even if they are different types

In [18]:
a_list = [1, 2, 3] # commas to seperate elements
print("Length of a_list is: ",(len(a_list)))
print("The 3rd element of a_list is: " ,(a_list[2])) # Remember Python starts with 0
print("The last element of a_list is: " ,(a_list[-1])) # -1 means the end
print("The sum of a_list is :",(sum(a_list)))

Length of a_list is:  3
The 3rd element of a_list is:  3
The last element of a_list is:  3
The sum of a_list is : 6

In [30]:
#
mylist2 = list
type(mylist)

list

In [33]:
b_list = [20, True, "good", "good"] 
b_list

[20, True, 'good', 'good']

Update a list: pop, remove, append, extend

In [32]:
a_list = [1,2,3]
print(a_list)
print("Pop out of a_list",a_list.pop(1)) # pop the value of an index
print(a_list)

[1, 2, 3]
Pop out of a_list 2
[1, 3]

In [34]:
print("Remove the string good from b_list:")
b_list.remove("good") # remove a specific value (the first one in the list)
print(b_list)

Remove the string good from b_list:
[20, True, 'good']

In [35]:
a_list.append(10)
print("After appending a new value, a_list is now:",(str(a_list)))

After appending a new value, a_list is now: [1, 3, 10]

In [36]:
a_list.extend(b_list)
print("Merging a_list and b_list: %s",(str(a_list)))

Merging a_list and b_list: %s [1, 3, 10, 20, True, 'good']

We can also use `+` to concatenate two lists

In [24]:
a_list + b_list

[1, 3, 10, 20, True, 'good', 20, True, 'good']

## Tuple (A special case of list whose elements cannot be changed)

Initialize a tuple with paranthesis (). The major difference between list and tuple is that you can alter list but not tuple.

In [39]:
a_tuple = (1, 2, 3, 10,"mystring")
print(a_tuple)
print("First element of a_tuple: %i"%a_tuple[0])

(1, 2, 3, 10, 'mystring')
First element of a_tuple: 1

In [40]:
a_tuple[0] = 5

TypeError: 'tuple' object does not support item assignment

In [42]:
a_tuple = (1) # this would create a int type
print(type(a_tuple))
b_tuple = (1,) # this would create a tuple type, take note of the comma.
print(type(b_tuple))

<class 'int'>
<class 'tuple'>

In [28]:
t = ("asd" , 3)

In [29]:
t

('asd', 3)

# LOOPS

In [30]:
for i in range(1,10):
    print (i)

1
2
3
4
5
6
7
8
9

In [46]:
for i in range (1 , -10 , -1):
    print (i)
    
print(3)

1
0
-1
-2
-3
-4
-5
-6
-7
-8
-9
3

In [32]:
x = 3
for x:
    x -= 1
    print(x)

SyntaxError: invalid syntax (<ipython-input-32-176999e7fc59>, line 2)

In [47]:
x = 3
while(x > 0):
    x-=1
    print(x)

2
1
0

## If - elseif - else

In [49]:
sum_ = 3
if sum_ == 0:
    print("sum_ is 0")
elif sum_ < 0:
    print("sum_ is less than 0")
else:
    print("sum_ is above 0 and its value is " + str(sum_)) # Cast sum_ into string type.

sum_ is above 0 and its value is 3

In [51]:
store_name = 'Walmart'
#store_name = 'asd'
if 'Walmart' in store_name:
    print("The store is Walmart.")
else:
    print("The store is not Walmart.")

The store is Walmart.

## Functions

In [53]:
def f(a,b,c):

    return a + b + c

In [64]:
f(1,2,3)

(6, -4, 3)

In [54]:
f(a=1,c=2,b=2)

5

In [59]:
def f(a,b,c):
    return a + b + c , a-b-c,a+b

In [60]:
var = f(a=1,c=2,b=2)
print(var)

(5, -3, 3)

In [41]:
type(f(a=1,c=2,b=2))

tuple

In [62]:
x,y,z = f(a=1,c=2,b=2)

In [43]:
x

5

In [44]:
y

-3

In [63]:
z

3

# Numpy

In [45]:
import numpy
# #include <iostream>

In [65]:
import numpy as np

In [67]:
from numpy import random

In [48]:
x = np.array([[1,2,3], [4,5,7]], dtype=np.float) # create a numpy array object, specify the data type as float
print(x)
print(type(x))

[[1. 2. 3.]
 [4. 5. 7.]]
<class 'numpy.ndarray'>

In [68]:
x = np.array([1,2,3] , dtype = np.float)

In [70]:
type(x)

numpy.ndarray

In [49]:
x.shape

(2, 3)

In [71]:
x = 1
x > 0 #Fizz
x < 1 #buzz
x>100 #Fizzbuzz

False

In [75]:
if x > 0:
    print ("Fizz")
elif x < 1:
    print("Buzz")
elif x > 100:
    print("Fizzbuzz")

Fizz

In [77]:
str = "Walmart"

#Wal #Fizz

#no Wal #Fizzbuzz

In [78]:
#Function 1 argument as string
# Wal # Fizz
# no wal #Fizzbuzz

In [79]:
def f(str):
    if "Wal" in str:
        print ("Fizz")
    else:
        print("Fizzbuzz")

In [81]:
f("Walmart")

Fizz

In [83]:
x = 10101
if x > 0 and x > 1:
    print("0")
else:
    print("1")

0

# bit.ly/feedbackpython